/* ----------- RESET GÉNÉRAL ----------- */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  font-family: sans-serif;
  /*border: #065f46 solid 3px;*/

}

* {
  margin: 0;
  padding: 0;
  /*border: #3730a3 2px dashed;*/
  box-sizing: border-box;
}

/* ----------- SCROLL SNAP (uniquement si .snap-enabled) ----------- */
/*body.snap-enabled {*/
/*  scroll-snap-type: y mandatory;*/
/*}*/

.snap-section {
  /*padding: 3rem;*/
  min-width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  width: 100vw; /* SUPPRIMER CA */
  /*width: 100vw;*/
  /*border: #3730a3 4px solid;*/
  /*margin-bottom: 2px; !* or more *!*/
    margin: 0;
    padding: 0;
}

/*.snap-section {*/
/*  scroll-snap-align: start;*/
/*  scroll-snap-stop: always;*/
/*  height: 100vh;*/
/*  width: 100vw;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/



.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  /*border: magenta 4px solid;*/
  width: 100vw; /* SUPPRIMER CA */
  margin: 0;
  padding: 0;

}



/* ----------- SCROLLBAR STYLING ----------- */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

body.scrolling ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Firefox */
body {
  scrollbar-width: none;
}

body.scrolling {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
