.typewriter {
  font-family: inherit;
  font-size: 1.5rem;
}

.cursor {
  display: inline-block;
  margin-left: 3px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
